{
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tabWidth": 2
}
