---
import Clickable from "../components/Clickable.astro";
import JumboCard from "../components/JumboCard.astro";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="david's portfolio • 404">
  <Navbar />
  <main
    class="mx-auto flex w-full max-w-3xl flex-col items-center gap-20 px-2 pt-4 md:pt-40"
  >
    <JumboCard
      heading="404: page not found"
      emoji="🤖"
      body={`Unfortunately there's nothing here.\n\nEither that means that I have a dead link somewhere on my site, or you messed with the URL bar and lost.\n\nIn any case, better luck next time.`}
    >
      <Clickable
        href="/"
        class="rounded border border-transparent bg-gray-100 px-4 py-1 font-serif font-semibold text-gray-900 transition-colors duration-300 ease-in-out hover:border-gray-800 hover:bg-gray-200"
      >
        Return to homepage
      </Clickable>
    </JumboCard>
  </main>
</Layout>
