---
import JumboCard from "../components/JumboCard.astro";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="david's portfolio • home">
  <Navbar />
  <main
    class="mx-auto flex w-full max-w-3xl flex-col items-center gap-20 px-2 pt-4 md:pt-40"
  >
    <JumboCard
      heading="Under construction"
      emoji="🚧"
      body={`Thanks for your interest in my site! Since early 2021 I've been slowly piecing together this site, but it's been a back-burner project for most of the time.\n\nThis year will be different; it's my main priority now. Please come back soon for some interesting and fun content!`}
    />
  </main>
</Layout>
